<!DOCTYPE html>
<html lang="en">
<head>
<title>地址管理</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="description" content="">
<link rel="stylesheet" href="lib/weui.min.css">
<link rel="stylesheet" href="css/jquery-weui.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body ontouchstart class="container">
<!--主体-->
<header class="wy-header">
  <div class="wy-header-icon-back"><span></span></div>
  <div class="wy-header-title">地址管理</div>
</header>
<div class="weui-content">
  <div class="weui-panel address-box">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text address-list-box">
        <a href="address_edit.html" class="address-edit"></a>
        <h4 class="weui-media-box__title"><span>张三</span><span>130****2000</span></h4>
        <p class="weui-media-box__desc address-txt">广东省广州市天河区珠江新城珠江大厦8楼</p>
        <span class="default-add">默认地址</span>
      </div>
    </div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text address-list-box">
        <a href="address_edit.html" class="address-edit"></a>
        <h4 class="weui-media-box__title"><span>张三</span><span>130****2000</span></h4>
        <p class="weui-media-box__desc address-txt">广东省广州市天河区珠江新城珠江大厦8楼</p>
      </div>
    </div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text address-list-box">
        <a href="address_edit.html" class="address-edit"></a>
        <h4 class="weui-media-box__title"><span>张三</span><span>130****2000</span></h4>
        <p class="weui-media-box__desc address-txt">广东省广州市天河区珠江新城珠江大厦8楼</p>
      </div>
    </div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_text address-list-box">
        <a href="address_edit.html" class="address-edit"></a>
        <h4 class="weui-media-box__title"><span>张三</span><span>130****2000</span></h4>
        <p class="weui-media-box__desc address-txt">广东省广州市天河区珠江新城珠江大厦8楼</p>
      </div>
    </div>
    
  </div>
  <div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="address_edit.html" id="showTooltips">添加收货地址</a>
  </div>
</div>

<script src="lib/jquery-2.1.4.js"></script> 
<script src="lib/fastclick.js"></script> 
<script type="text/javascript" src="js/jquery.Spinner.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
<script src="js/jquery-weui.js"></script>
</body>
</html>
