[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.20"
jinja2 = "*"
mysql-client = "*"
mysql-connector-python = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
pillow = "*"
django-ckeditor = "*"

[requires]
python_version = "3.7"
