{% extends 'base.html' %}
{% block title %}
    <title>密码修改</title>
    <style>
        .change-result {
            color: red;
        }
    </style>
{% endblock %}
{% block container %}
 <!--主体-->
    <header class="wy-header">
      <div class="wy-header-icon-back"><span></span></div>
      <div class="wy-header-title">密码修改</div>
    </header>
    <form class="weui-content" method="post" action=".">
      <div class="weui-cells weui-cells_form wy-address-edit">
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label wy-lab">新密码</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="password"
              name="password"
              placeholder="请输入新密码"
            />
          </div>
        </div>
{#        <div class="weui-cell weui-cell_vcode">#}
{#          <div class="weui-cell__hd">#}
{#            <label class="weui-label wy-lab">手机号</label>#}
{#          </div>#}
{#          <div class="weui-cell__bd">#}
{#            <input class="weui-input" type="tel" placeholder="请输入手机号" />#}
{#          </div>#}
{#          <div class="weui-cell__ft">#}
{#            <button class="weui-vcode-btn">获取验证码</button>#}
{#          </div>#}
{#        </div>#}
        <div class="weui-cell weui-cell_vcode">
          <div class="weui-cell__hd">
            <label class="weui-label wy-lab">验证码</label>
          </div>
          <div class="weui-cell__bd">
            <input
              class="weui-input"
              type="text"
              name="vcode"
              value="{{ form.vcode.value }}"
              placeholder="请输入验证码"
            />
          </div>
          <div class="weui-cell__ft">
            <img class="weui-vcode-img" src="{% url 'system:verify_code' %}" />
          </div>
        </div>
        <div class="change-result">
            {{ result }}
        </div>
      </div>
        {% csrf_token %}
      <div class="weui-btn-area">
          <input type="submit" value="确认修改" class="weui-btn weui-btn_primary">
      </div>
    </form>
{% endblock %}

