{% extends 'base.html' %}
{% block title %}
<meta name="description" content="" />
<title>新闻列表</title>
{% endblock %}
{% block container %}
<header class="wy-header">
    <a href="{% url 'index' %}"><div class="wy-header-icon-back"><span></span></div></a>
    <div class="wy-header-title">新闻列表</div>
</header>
<div class="weui-content">
    <div class="weui-cells wy-news-list">
        {% for news in page.object_list %}
        <a class="weui-cell weui-cell_access" href="{% url 'system:news_info' news.pk %}">
            <div class="weui-cell__bd">
                <p>{{ news.title }}</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
        {% endfor %}
    </div>

    <div class="weui-footer">
        <p class="weui-footer__links">
        {% if page.has_previous %}
            <a class="weui-footer__link" href="{% url 'system:news_list' %}?page_num={{ page.previous_page_number }}">上一页</a>
        {% else %}
            <a class="weui-footer__link" href="javascript:void(0)" onclick="alert('已经没有上一页了')">上一页</a>
        {% endif %}
        {% if page.has_next %}
            <a class="weui-footer__link" href="{% url 'system:news_list' %}?page_num={{ page.next_page_number }}">下一页</a>
        {% else %}
            <a class="weui-footer__link" href="javascript:void(0)" onclick="alert('已经没有下一页了')">下一页</a>
        {% endif %}
        </p>
    </div>
</div>
{% endblock %}